body {
  background-color: green;
}

#pixelPainter {
  border: 1px solid black;
  padding: 5px;
  display: inline-block;
  min-width: 440px;
}

#buttons {
  border: 1px solid black;
  padding: 5px;
  float: left;
  clear: both;
  display: inline-block;
}

#colorSwatch {
  border: 1px solid black;
  padding: 5px;
}

.row{

  margin: 0px;
  display: inline-block;
}

.block{
  border: 1px solid black;
  margin: 0px;
  padding: 10px;
}

.rowC{

  margin: 0px;
  display: inline-block;
}

.blockC{
  border: 1px solid black;
  margin: 0px;
  padding: 10px;
}

.btns {
  display: block;
}

#blockC00{
  background-color: red;
}

#blockC01{
  background-color: green;
}

#blockC02{
  background-color: yellow;
}

#blockC03 {
  background-color: blue;
}

#blockC10{
  background-color: black;
}

#blockC11{
  background-color: white;
}

#blockC12{
  background-color: brown;
}

#blockC13{
  background-color: gray;
}

#blockC20{
  background-color: pink;
}

#blockC21{
  background-color: orange;
}

#blockC22{
  background-color: blanchedalmond;
}

#blockC23{
  background-color: fuchsia;
}

#blockC30{
  background-color: chartreuse;
}

#blockC31{
  background-color: cyan;
}

#blockC32{
  background-color: darkmagenta;
}

#blockC33{
  background-color: firebrick;
}